.catalog-image {
    width: 100%;
    /*width: 300px;*/
    /*height: 300px;*/
}

.catalog-item {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
